#to-do-list {
  text-align: center; /* centers text*/
  color: green;
  border-style: solid;
  border-width: thick;
  border-color: rgb(0,100,0);
}

h1 {
  text-align: center;
  color: red;
  margin: auto;
  text-decoration: underline;
  text-emphasis: filled red;
  max-width: 150px;
  max-height: 150px;
  border: dashed red;
  padding: 1em;
}
  
h2 {
  color: rgb(100,200,150);
  
}
  
